name: Build Angular and Push to Branch

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: package-lock.json

      - run: npm ci

      - name: Build Angular app
        run: ./node_modules/.bin/ng build --configuration production"

      - name: Checkout target branch
        run: |
          git checkout gh-pages || git checkout -b gh-pages
          git rm -rf .

      - name: Copy build output
        run: |
          cp -r dist/portfolio/browser/* .
          touch .nojekyll

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Deploy build $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes"
          git push origin gh-pages
